# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Security
.env
.env.local

# Virtual environments
venv/
env/
.venv/

# Static and Media files (if using collectstatic)


# IDE and System files
.vscode/
.idea/
.DS_Store   