<! -- PIE DE PAGINA -->

<footer class="pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Orinoquia Explorer</h5>
                <p>Tu guía oficial de turismo para conectar con la biodiversidad, la inmensidad de las sabanas y las tradiciones del llano colombiano.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Destinos</h5>
                <p><a href="#" class="text-white text-decoration-none">Casanare</a></p>
                <p><a href="#" class="text-white text-decoration-none">Meta</a></p>
                <p><a href="#" class="text-white text-decoration-none">Vichada</a></p>
                <p><a href="#" class="text-white text-decoration-none">Arauca</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Enlaces útiles</h5>
                <p><a href="#" class="text-white text-decoration-none">Términos y Condiciones</a></p>
                <p><a href="#" class="text-white text-decoration-none">Políticas de Privacidad</a></p>
                <p><a href="#" class="text-white text-decoration-none">Preguntas Frecuentes</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                <p><i class="fas fa-home mr-3"></i> Yopal, Casanare - Colombia</p>
                <p><i class="fas fa-envelope mr-3"></i> info@orinoquiaexplorer.com</p>
                <p><i class="fas fa-phone mr-3"></i> +57 300 123 4567</p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>© 2026 Copyright: <strong class="text-warning">Orinoquia Explorer</strong>. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <a href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white me-4"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>