{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Veterinaria Mascott | Sogamoso, Boyacá</title>
    <meta name="description" content="30 años cuidando perros y gatos en Sogamoso. Laboratorio propio, rayos X, ecografía, cirugía y hospitalización.">
    
    <!-- Icono de la pestaña  -->
   <link rel="icon" href="{% static 'usuarios/img/logo.png' %}" type="image/png">
<body>
    <!-- Aquí va el contenido de tu página -->
    <h1>Bienvenido a la Clínica Veterinaria Mascott</h1>
</body>
</html>